[submodule "Hackathons/mode/lib/forge-std"]
	path = Hackathons/mode/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Hackathons/mode/lib/openzeppelin-contracts"]
	path = Hackathons/mode/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
